<?xml version='1.0' encoding='utf-8'?>
<plugin id="heyzap-cordova-leadbolt" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Heyzap Cordova Leadbolt</name>
  <description>Leadbolt Cordova plugin for the Heyzap Cordova Plugin</description>
  <author>Heyzap Inc.</author>
  <license>Heyzap</license>
  <keywords>cordova,heyzap,phonegap,sdk,ad,mobile,mediation,leadbolt</keywords>

  <dependency id="heyzap-cordova" url="https://github.com/heyzap/heyzap-cordova" />

  <engines>
    <engine name="cordova-android" version=">=4.0.0" />
    <engine name="cordova-ios" version=">=3.8.0" />
  </engines>

  <!-- iOS -->
  <platform name="ios">

    <!-- iOS 9 requires apps to use HTTPS; some networks require you to disable App Transport Security to workaround this. -->
    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>
    
    <!-- Hooks -->
    <hook type="before_plugin_install" src="hooks/before_plugin_install/000_create_symlinks.js" />
    <!-- / Hooks -->
    
    <!-- Leadbolt SDK -->
    <header-file src="src/ios/AppTracker.h" />
    <source-file src="src/ios/libAppTracker.a" framework="true" />
    <!-- / Leadbolt SDK -->

    <!-- External Frameworks -->
    <framework src="AdSupport.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreMotion.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="StoreKit.framework" />
    <framework src="SystemConfiguration.framework" />
    <!-- / External Frameworks -->

  </platform>
  <!-- / iOS -->

  <!-- Android -->
  <platform name="android">

    <!-- Native app manifest -->
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />       
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
    <!-- / Native app manifest -->
    
    <!-- Native app manifest - Application Tag -->
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.apptracker.android.module.AppModuleActivity" android:hardwareAccelerated="false"/>
    </config-file>
    <!-- / Native app manifest - Application Tag -->
    
    <!-- Leadbolt SDK -->
    <source-file src="src/android/AppTracker.jar" target-dir="libs" />
    <!-- / Leadbolt SDK -->

  </platform>
  <!-- / Android -->

</plugin>
