<?xml version='1.0' encoding='utf-8'?>
<plugin id="heyzap-cordova-applovin" version="1.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Heyzap Cordova AppLovin</name>
  <description>AppLovin Cordova plugin for the Heyzap Cordova Plugin</description>
  <author>Heyzap Inc.</author>
  <license>Heyzap</license>
  <keywords>cordova,heyzap,phonegap,sdk,ad,mobile,mediation,applovin</keywords>

  <engines>
    <engine name="cordova-android" version=">=4.0.0" />
    <engine name="cordova-ios" version=">=3.8.0" />
  </engines>

  <preference name="APPLOVIN_ANDROID_SDK_KEY" />

  <!-- iOS -->
  <platform name="ios">

    <!-- Hooks -->
    <hook type="before_plugin_install" src="hooks/before_plugin_install/000_create_symlinks.js" />
    <!-- / Hooks -->

    <!-- / AppLovin SDK -->
    <framework src="src/ios/Fyber_AppLovin_3.4.3-r1.framework" custom="true" />

    <!-- External Frameworks -->
    <framework src="AdSupport.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="MediaPlayer.framework" />
    <framework src="StoreKit.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="UIKit.framework" />
    <!-- / External Frameworks -->

  </platform>
  <!-- / iOS -->

  <!-- Android -->
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="applovin.sdk.key" android:value="@string/applovin_sdk_key" />
    </config-file>

    <config-file parent="/resources" target="./res/values/strings.xml">
        <string name="applovin_sdk_key">$APPLOVIN_ANDROID_SDK_KEY</string>
    </config-file>

    <framework src="src/android/applovin.gradle" custom="true" type="gradleReference" />
    <!-- Applovin SDK -->
    <source-file src="src/android/fyber-applovin-6.3.2-r1.aar" target-dir="libs" />
    <!-- / AppLovin SDK -->

  </platform>
  <!-- / Android -->

</plugin>
